#loc-card {
    background-color: rgb(232, 232, 232);
}

#desk-view {
    display: none;
}
#mob-view {
    display: none;
}

.mob-togglr {
    border: none !important;
}

.mob-input {
    margin-bottom: 0.5em;
}